<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
<!--        * {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            box-sizing: border-box;-->
<!--        }-->
<!--        body{-->
<!--            display: grid;-->
<!--            place-items: center;-->
<!--            height: 100vh;-->
<!--        }-->
<!--        button{-->
<!--            height: 80px;-->
<!--            width: 160px;-->
<!--        }-->
    </style>
</head>
<body>
<div class="main_container">
    <h1>Welcome to test validation project</h1>
    <button>
        Click
    </button>
    <p>Click <a th:href="@{/login}">here</a>here!</p>
</div>

</body>
</html>